doctype xml
svg(xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg',
    xmlns:xlink='http://www.w3.org/1999/xlink', version='1.0',
    width='280', height='230', viewBox='-135 -115 280 230',
    xml:space='preserve')
  g#farbflaechen
    rect#q4(width='100', height='100', x='-100', y='0',    style='fill: #9aed97')
    rect#q3(width='100', height='100', x='0',    y='0',    style='fill: #c09aea')
    rect#q2(width='100', height='100', x='0',    y='-100', style='fill: #42aaff')
    rect#q1(width='100', height='100', x='-100', y='-100', style='fill: #ff7575')
  g#grid
    g#achsen
      line(style='fill:none;stroke:#666666', x1='-100', y1='0', x2='100', y2='0')
      line(style='fill:none;stroke:#666666', x1='0', y1='-100', x2='0', y2='100')
    g#hilfslinien
      - for (var i = -90; i <= 90; i+=10)
        line(style='fill:none;stroke:#666666;stroke-opacity:0.3', x1=i, y1='-100', x2=i, y2='100')
        line(style='fill:none;stroke:#666666;stroke-opacity:0.3', x1='-100', y1=i, x2='100', y2=i)
  g#text
    text(x='-102', y='6', text-anchor='end',   style='font-size:12px; font-family:sans-serif') links
    text(x='102',  y='6', text-anchor='start', style='font-size:12px; font-family:sans-serif') rechts
    text(x='0', y='-102', text-anchor='middle', style='font-size:12px; font-family:sans-serif') autoritär
    text(x='0', y='113',  text-anchor='middle', style='font-size:12px; font-family:sans-serif') libertär
  - each r, percent in ranges
    - r.width = r.x2 - r.x
    - r.height = r.y2 - r.y
    rect(style="fill-color:#000000; fill-opacity:0.25", x=r.x, y=r.y,
         width=r.width, height=r.height, id="perc" + percent)
  g#benutzer
     - each compass in compasses
         a(xlink:href=compass.url,
           title='#{compass.name} – (soc: #{compass.compass.soc}, ec: #{compass.compass.ec})')
           circle(cx=compass.coords.x, cy=compass.coords.y, r='1.5',
                  style='fill:#ff0000; stroke:#000000; stroke-width:0.5px;')
