!!! 5
html(lang='de')
  include head
  body
    ul(style="text-align: center;", class="horlist")
        li: a(href="/html", title="Seite mit PNG-Bild und CSS") PNG-Version
        li: a(href="/svg", title="Seite mit SVG-Bild") SVG-Version
        li: a(href="/svg/raw", title="SVG-Bild") SVG solo
        li: a(href="/csv", title="Rohdaten als CSV") Rohdaten
        li: a(href="/source", title="Quelltext") Quelltext
    !{body}

    h2 Statistik
    p Der Durchschnittspunkt ist #{avg.soc}, #{avg.ec}. Die Rahmen zeigen die 90%- bzw. 80%-Bereiche.
    p
      | Ausgewertet wird die
      a(href="http://wiki.piratenpartei.de/Kategorie%3ABenutzer_hat_politischen_Kompass", title="„Kategorie:Benutzer hat politischen Kompass“ im Piratenwiki") Kategorie:Benutzer hat politischen Kompass
      |  im Wiki der Piratenpartei Deutschland. Insgesamt sind die Daten von #{count} Benutzern verfügbar.
    - if (err_users.length > 0)
      p Fehler gab es beim Lesen der Kompassdaten von #{err_users.join(', ')}.

    #footer
      | Adrian Lang (<a href="https://adrianlang.de/id">id</a>), 2009–2012
      script
        var flattr_url = 'http://adrianlang.de/piratenkompass/';
        var flattr_btn = 'compact';
      script(src='https://api.flattr.com/button/load.js')
      noscript
        a(href='//flattr.com/thing/3572/Piratenkompass')
          img(src='//api.flattr.com/button/button-compact-static-100x17.png', title='Flattr this', border='0')
      br
      | SVG-Code: Stephan Beyer (<a href="http://pkqs.net/~sbeyer/">homepage</a>), 2009
